.sajjad{
    background-color: green !important;
    /* padding: 100px; */
    color: yellow !important;
}
.hasan{
    background-color: cornflowerblue;
}

.ali{
    background-color: blue;
}

.mohammad{
    background-color: bisque !important;
    /* size: 20rem; */
}

.mojtaba{
    background-color: pink !important;
}

/* div{
    background-color: red;
} */